{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
    margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#2C2F80;
	color:#FFF;
}

{% endblock %}
</style>


{% block jumbotron %}
{% if not request.user.is_authenticated %}

<div class="jumbotron">
	<div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Best Blinds</h1>
		<p>We believe we offer the best value blinds in Australia. We don't have sales consultants who try to upsell and over charge you for your blinds. All our prices are available online, eliminating the need for sales commissions. Join Us today.</p>
		<p>
		  <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
		</p>
		</div>
		
		<div class='col-sm-6'>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/t4--_JeuLi8" frameborder="0" allowfullscreen></iframe>
		
		</div>
	</div>
	</div>
</div>

{% endif %}
{% endblock %}




{% block content %}

{% if request.user.is_authenticated %}
<h1>You are logged in!!!</h1>

	{% if queryset %}
	<h2>Welcome Staff</h2>
	<table class='table'>
	<!-- {{ queryset }} -->

	{% for instance in queryset %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ instance }}</td>
			<td>{{ instance.email }} </td>
			<td>{{ instance.full_name }} </td>
			<td>{{ instance.timestamp|timesince}} ago</td>
		</tr>
		{% if instance.email == "abc@abc.edu" %}
		<tr><td>is equal</td></tr>
		{% endif %}
	{% endfor %}
	</table>
	{% endif %}

{% else %}
<div class="row">
  <div class="col-md-3 pull-right">
		
		<p class="lead text-align-center">{{ title }} </p>

		<form method='POST' action=''>{% csrf_token %}
 
		    {{ form|crispy }}

		    <input class='btn btn-primary' type='submit' value='Sign Up'>

		</form>
  </div>

  <div class="col-md-3">
	  	<p class="lead text-align-center">Vertical</p>
	  	<img src="{% static 'img/blinds-vertical-01.jpg' %}" class='img-responsive' />
  </div>

  <div class="col-md-3">
	  <p class="lead text-align-center">Roller<br/>
	  <i class="fa fa-bolt fa-spin fa-5x"></i></p>
	  
	  <img src="{% static 'img/blinds-roller-01.jpg' %}" class='img-responsive' />
  </div>

  <div class="col-md-3">
	  <p class="lead text-align-center">Roman<br/>
	  <span class="fa-stack fa-lg fa-5x">
		  <i class="fa fa-circle-o-notch fa-stack-2x fa-spin"></i>
		  <i class="fa fa-github fa-stack-1x"></i>
	  </span>
	  <img src="{% static 'img/blinds-roman-01.jpg' %}" class='img-responsive' />
  </div>


</div>
{% endif %}
{% endblock %}
